<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDo</title>
	<script src="dist/bundle.js" async ></script>
</head>
<body>
    <script type="text/template" id="person-id">
        <%= name %> ( <%= age %> ) - <%= job %>
    </script>
    <div class="container">
        <section class="todolist">
            <input type="text" class="todolist__input">
            <ul class="todolist__list">
                <!-- <li class="todolist__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, neque, reprehenderit. Facilis consequuntur voluptatem molestias et nemo error laudantium exercitationem ut omnis a, hic sit quis! Corrupti, eaque. Odio, nemo.</li>
                <li class="todolist__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, corporis perferendis neque ea, alias quaerat eos natus rem cum nesciunt saepe minus illo recusandae explicabo commodi esse illum consequuntur nemo?</li>
                <li class="todolist__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae id, ipsa aut autem nobis, totam ex sapiente magni, sequi recusandae similique officiis delectus accusantium nam molestiae ducimus tempora. Est, velit.</li>
                <li class="todolist__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam autem quos molestias alias ex reiciendis soluta, voluptatibus nam iure ducimus provident eligendi, quod tempora qui necessitatibus repudiandae. Esse, recusandae ad!</li> -->
            </ul>
        </section>
    </div>
	
</body>
</html>